/** George images */
.george {
  width: 80px;
  border-radius: 40px;
  position: absolute;
  top: var(--y);
  left: var(--x);
  cursor: none;
}

/** Reset button */
.reset-button {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background-color: purple;
  border: none;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 20px 30px 20px 30px;
  font-size: large;
  z-index: 1;
}

/** General page */
body {
  background-color: lightpink;
}